*.idea
data/
REPORTS/
__pycache__/
# Ignore Jupyter Notebook checkpoints (if using notebooks)
.ipynb_checkpoints/

# Ignore log files and temporary files
*.log
*.tmp
*.swp
*.swo
*.venv
*.pkl

# Ignore output data files
data/CarFollowing.txt
CarFollowing_Modular.txt

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

carenv/
cfenv/
*.env
*.pdf
*.json
*.csv
test.py


